

.img {
    height:250px;
    width: 250px;
}

.about, .products{
    min-height:500px;
    height: auto;
    margin: 50px;
    border: 0.5px;
    border-radius: 10px; 
    
}
.aboutpage{
    padding-top:40px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

h2 {
    font-family: serif;
    text-align: center;
    font-size: 25px;
    color: #2b2b2b;
}
.aboutpage > p {
    font-family: serif;
    font-size: 20px;
    line-height: 1.8;
    letter-spacing: 0.6px;
    color: #666666;
}

.aboutpage > img {
    border-radius: 50%;
   
}

.product {
    padding-top: 40px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 15px;
    margin: 10px 20px 50px 30px;
    justify-content: center;
}

.product > .item { 
    width: 250px;
    height: 350px;
    border: 1px solid black;
    border-radius: 12px; 
    display: flex;
    flex-direction: column; 
    overflow: hidden; 
    text-align: center; 
    font-size: 20px;
    color:rgb(125, 66, 109);
}

.item-buttons {
    padding-left: 0px;
    padding-right: 2px;
    padding-top: 2px;
    margin-top: 2px;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 1px;
    font-size: 15px;
    border-radius: 5px;
    color: rgb(209, 130, 45);
}

.item-buttons:hover{
    color:rgb(126, 160, 189);
    border-color: rgb(243, 233, 233);
    border-style: solid;
}

.contact {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:20px;
  
    margin: 50px
}

.links{
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
}

.links > a {

    padding: 2px 10px;
    color: #8a3c7a;
    font-size: 18px;

}

.footer {
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
    background-color: rgb(52, 51, 51);
    color: rgb(195, 197, 199); 
}
