* {
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
}

h1 {
    text-align: left;
    font-weight:200;
    font-size: 40px;
    margin-left: 60px;
    margin-top: 40px;
    color: #8a3c7a;
}

h2 {
    font-family: serif;
    text-align: center;
    font-size: 25px;
    color: #2b2b2b;
}


.img {
    height:250px;
    width:250px;
}
.cakes, .pastries, .chocolates, .bread, .sweets {
    min-height:500px;
    height: auto;
}
.items{ 
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
    
}

.items > h2 {
    text-align: center;
}

.item-card {
    height: 300px;
    border:1px;
    border-style: solid;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.item-card > a {
  color: #8a3c7a;
  text-decoration: none;
}

.footer {
    text-align: center;
    padding-top:30px;
    padding-bottom:30px;
    background-color: rgb(52, 51, 51);
    color: rgb(195, 197, 199); 
}